
@font-face {
    font-family: BTBPBlack;
    src: url("../font/Avenir-Black.ttf");
    src: url("../font/Avenir-Black.eot") !important;
    src: url("../font/Avenir-Black.woff");
}

@font-face {
    font-family: BTBPLight;
    src: url("../font/Avenir-Light.ttf");
    src: url("../font/Avenir-Light.eot") !important;
    src: url("../font/Avenir-Light.woff");
}

@font-face {
    font-family: BTBPRoman;
    src: url("../font/Avenir_Roman.otf");
}

.btbp_mirror_container {
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

#_content>canvas {
    position: absolute;
    left: 0px;
    right: 0px;
}

#btbp_error_container
{
   
}

#btbp_lbl_error {
    color: brown;
    font-family: BTBPRoman;
    padding:10px;
    display: inline-block;
}

#btbp_btn_try
{
    background: white;
    color:brown;
    border:1px solid brown;
    border-radius: 3px;
    padding:6px 12px;
    cursor: pointer;
    min-width: 100px;
    font-family: BTBPRoman;
}

.btbp_btn{
    background: white;
    color:brown;
    border:1px solid brown;
    border-radius: 3px;
    padding:6px 12px;
    cursor: pointer;
    min-width: 100px;
    font-family: BTBPRoman;
    display: inline-block;
}

#btbp_lbl_loadng
{
    color: brown;
    font-family: BTBPRoman;
    padding:0px;
    display: inline-block;
}




#btbp_ui_controlls
{
    position: absolute;
    z-index: 100;
    width:100%;
    height: 100%;
    top:0px;
    left:0px;
    overflow: hidden;
}
#btbp_controls_menu {
    background: rgb(79, 82, 91);
    width: 100%;
    height: 12%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}

.controls_container {
    width: 80%;
    height: 100%;
    float: right;
    display:block;
}

.shade_selected {
    box-shadow: 1px 1px 10px 3px #3a9fe5;
    border: 2px solid white;
}

.shade_deselected {
    box-shadow: none;
    border: 2px solid transparent;
}

ul {
    padding: 0px;
    margin: 0px;
}


.color_shades li {
    width: 20px;
    height: 20px;
    list-style-type: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    margin: 2px 10px;
    display: inline-block;
    position: relative;
    margin-top: 8px;
}
#_foundationshades li
{
    margin-top: 20px;
}
.no_shade {
    position: relative;
    width: 100%;
    height: 2px;
    top: 50%;
    background: gray;
    transform: rotate(-50deg);
}
.no_color_shade
{
    
}
.no_shade_img
{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
}

#_foundationshades
{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 74px;
}

#foundationshades_container
{
    height: 100%;
    width: 100%;
}

.controls_selection
{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    display:block;
   

}

.controls_selection > div
{
    text-align: center;
    position: relative;
    width:100%;
    height: 50%;
    display: table;
}

.controls_selection > div > a
{
    color: white;
    font-family: BTBPRoman;
    cursor: pointer;
    text-decoration: none;
    display: table-cell;
    vertical-align:middle;
}
/*   */
.results_bottom_panel_container {
    position: absolute;
    width: 100%;
    height: 18%;
    min-height: 100px;
    max-height: 120px;
    text-align: center;
    top:0px;
     overflow-y: hidden;
     z-index:10;
}

    #tag_item_list_parent {
        display: inline-block;
        max-width: 90%;
        width: 90%;
        height: 85%;
        background: rgba(79, 82, 91, 0.6);
        border-radius: 0px 0px 30px 30px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top:15px;
    }


.tag_item_list {
    display: inline-block;
    width:100%;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
}

.tag_item {
    display: inline-block;
    width: 15%;
    min-width: 72px;
    height: 85%;
    position: relative;
}


    .tag_item > .tag_name {
        height: 18%;
        color: white;
        font-size: 14px;
        font-family: BTBPLight;
    }

    .tag_item > .tag_image_container {
        height: 60%;
        position: relative;
    }

    .tag_item > .tag_value {
        height: 20%;
        color: white;
        font-family:BTBPLight;
    }

    .tag_item img {
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
    }

    .tag_item > .tag_image_container > span {
        font-size: 24px;
        height: 24px;
        line-height: 24px;
        color: white;
        font-family:BTBPLight;
    }

    #skin_type_selected_img
    {
        position: absolute;
        top:0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    

#loader_deeptag_container {
    position: absolute;
    width: 200px;
    left: 0px;
    right: 0;
    margin: auto;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 20px 20px;
}
#image_rejection_cotainer
{
    position: absolute;
    width: 90%;
    left: 0px;
    right: 0;
    margin: auto;
    height: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 20px 20px;
    display: none;
}
#image_rejection_cotainer  span{
    line-height: 12px;
  
    color: white;
    font-family: BTBPLight;
    position: relative;
}

#loader_deeptag_container span {
    line-height: 30px;
    height: 30px;
    color: white;
    font-family: BTBPLight;
    position: relative;
    top: -9px;
}



    .results_left_panel_container {
        position: absolute;
        left: 0px;
        height: 100%;
        min-width: 80px;
        max-width: 120px;
        display: table;
        z-index:11;
    }
    
        .results_left_panel_container > div {
            display: table-cell;
            vertical-align: middle;
        }
    
    .concerns_list {
        padding: 6px 6px;
        background: rgba(79, 82, 91, 0.6);
        border-radius: 0px 20px 20px 0px;
        overflow-y: auto;
        overflow-x:hidden;
        max-height: 60%;
    }
    
    .skin_concern_selected {
        /*border: 1px solid rgb(108, 182, 255);*/
        background: rgba(108, 182, 255, 0.6);
    }
    
    .skin_concern_deselected {
        /*border: 1px solid transparent;*/
        background: transparent;
    }
    
    .skin_concern {
        border-radius: 5px;
        cursor: pointer;
    }
    
    .concern_severity {
        text-align:center;
    }
    
    .txt_concern {
        text-align: center;
        color: whitesmoke;
        font-family: BTBPRoman;
        text-transform: uppercase;
        font-size: 12px;
    }
    
    .results_image_container {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    #result_img {
        max-width: 100%;
        max-height: 100%;
        /* position: absolute; */
        /* left: 0px; */
         height: auto;
         width: 100%; 
    }
    
    /*Results end*/




.center_vertical {
    display: table-cell;
    vertical-align: middle;
}

.align_center {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.align_center_vertical {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.align_center_horizontal {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.btbp_mirror_container ::-webkit-scrollbar {
  
}

.btbp_mirror_container ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.btbp_mirror_container ::-webkit-scrollbar
{
	width: 5px;
    height:10px;
	background-color: #F5F5F5;
}

.btbp_mirror_container ::-webkit-scrollbar-thumb
{
	background-color: black;
}

.btbp_mirror_container {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  .mathced_shade
  {
    content: "";
    display: block;
    
    width: 100px;
    height: 30px;
    position: absolute;
    left: -25px;
    top: -24px;
    color: white;
    font-family: BTBPLight;
    font-size: 16px;

    /*
    width: 0; 
    height: 0; 
    border-bottom: 12px solid transparent;
    border-top: 12px solid white;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -15px;
    left: 4px;
    */
      /*
    background: black;
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-family: light;
    font-size: 14px;
    position: absolute;
    left: -37px;
    text-align: center;
    top: -40px;
    color: white;
    border-radius:3px;
    */
  }

  .mathced_shade:before {
   
}

.dg.ac {
    z-index: 100;
    display: none;
}

.dg.a {
float: right;
margin-right: 0px !important;
overflow-y: visible;
}

#data-gui-container
{
    position: absolute;
    right:-320px;
    bottom:13%;
    margin: auto;
    background: #1a1a1a7a;
    z-index: 100000;
}

.close-button
{
    display: none;
}
.settings_close
{
    color: white;
    text-align: right;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
    display: block;
    float: right;
    position: absolute;
    right: 5px;
    bottom: 0px;
    font-family: BTBPRoman;
}

.dg .property-name
{
    text-align: left;
    font-family: BTBPLight;
    font-size: 14px;
    width: 70% !important;
}

.dg .c {
    float: left;
     width: 30% !important;
    position: relative;
}

@media only screen and (max-width:321px){
    #tag_item_list_parent {
        height: 80%;
        padding-top:15px;
    }
}

@media only screen and (min-width:321px) and (max-width:480px){
    #tag_item_list_parent {
        height: 82%;
        padding-top:18px;
    }
}

@media only screen and (max-height: 620px) {
    .color_shades li
    {
        width: 12px !important;
        height: 12px !important;
    }

    .mathced_shade
    {
        font-size: 14px;
        left:-24px;
    }
    #_foundationshades
    {
        height: 64px;
    }
    
    .controls_selection > div > a
    {
       font-size: 12px;
    }

    .tag_item > .tag_name
    {
        font-size: 14px;
    }
    .txt_concern
    {
        font-size: 11px;
    }
    .concerns_list
    {
        padding: 3px;
    }

}


.loader-container {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.loader-container > img{
    width:80px;
}


.mask {
    position: absolute;
    z-index: 101;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(79, 82, 91, 0.7);
    display: block;
}

#customAlert {
    text-align: center;
    display: table;
    display: none;
    font-family: BTBPRoman;
}

.alertBox {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: black;
}

    .alertBox > div {
        padding: 15px;
        background: white;
        max-width: 320px;
        width: 100%;
        display: inline-block;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

#alertMsg {
    text-align: center;
    color: rgba(3,17,30,1);
}

.btn, .btn_black {
    color: white;
    display: inline-block;
    background: rgba(3,17,30,1);
    border: 1px solid rgba(3,17,30,1);
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    padding: 6px 12px;
    border-radius: 0px;
}


.sk-fading-circle {
    width: 26px;
    height: 26px;
    position: relative;
    display: inline-block;
    margin: 3px;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }


  .btbp_spinner {
    text-align: center;
  }
  
  .btbp_spinner > div {
    width: 18px;
    height: 18px;
    background-color: brown;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .btbp_spinner .btbp_bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .btbp_spinner .btbp_bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  #skin_concern_image_container{
      background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    top: 0px;
    display: none;
  }

  
#btbp_no_camera_container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: none;
  background: #353535;
}

#btbp_no_camera_container > div{
    width:100%;
    height: 100%;
}
#btbp_txt_camera_error{
    line-height: 14px;
    color: white;
    font-family: BTBPRoman;
}

  #btbp_analysis_controlls_container, #btbp_preview_controlls_container {
    display: none;
  }

  #btbp_controlls_container{
      position: absolute;
      width:100%;
      bottom: 0px;
      z-index: 100;
  }
  #btbp_controlls_container > div{
    background:rgba(53, 53, 53, 0.6);
    padding: 5px 0px;
    bottom: 0px;
    height: 40px;
  }
  #btbp_preview_controlls_container{
      position: absolute;
      width:100%;
  }

  #btbp_preview_controlls_container > div{
    width:50%;
    text-align: center;
    float: left;
  }



  

/*Instructions styles*/

.instruction_screen_container {
    text-align: center;
    background: rgba(79, 82, 91, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.instruction_container {
    text-align: center;
    height: 100%;
}


.instructions_list {
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    max-width: 480px;
    max-height: 480px;
    display: inline-block;
}

    .instructions_list li {
        padding: 0px 2%;
        margin: 0px;
        text-align: center;
        width: 46%;
        height: 50%;
        float: left;
    }

.instruction_item_contianer {
    padding: 10px;
    width: 100%;
    height: 90%;
    text-align:center;
}

    .instruction_item_contianer > img {
        max-width: 100%;
        max-height: 70%;
    }

    .instruction_item_contianer > span {
        color: white;
        font-family: BTBPLight;
        font-size: 16px;
        display:inline-block;
    }

.instruction_screen {
    text-align: center;
    background: rgba(79, 82, 91, 0.9);
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.instructions-header {
    height: 15%;
    color: white;
    font-family: BTBPLight;
    font-size: 16px;
}

    .instructions-header > div {
        display: table;
        height: 100%;
        width: 100%;
    }

        .instructions-header > div > div {
            display: table-cell;
            vertical-align: bottom;
        }

.instructions-body {
    height: 80%;
    color: white;
   
}

.instructions_footer {
    height: 5%;
}

.close_instructions_icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
/*Instrustion region end*/

#btbp_btn_capture{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    cursor:pointer
}